*~
*#
*.swp
/org/*.el
/org/*.html
.python-environments
ac-comphist.dat
auto-save-list
custom.el
ede-projects.el
elpa
eshell
ido.last
places
recentf
semanticdb
smex-items
tutorial
/anaconda-mode
/tramp
