*~
*#
*.swp
/org/*.el
/org/*.html
/recentf
/elpa
/eshell
/ido.last
/anaconda-mode
/tramp
/.lsp-session-*
/eww-bookmarks
/transient
/auto-save-list
/custom.el
/smex-items
/projectile-bookmarks.eld
/projectile.cache
.python-environments
ac-comphist.dat
ede-projects.el
places
semanticdb
tutorial
